.form {
  width: 90%;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  margin: 3rem auto;

  fieldset {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .form__input_disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
  }

  .form__input {
    border: none;
    outline: none;
    margin: 0 1rem;
    width: 100%;



  }

  button {
    background-image: url(/images/send-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}